<% if project.name != nil %>
<div class ="projects">
<li class="name">
  <div  class="project-name"><%= project.name %></div>

  <% if current_user?(project.user) %>
    <%= link_to image_tag("trash.png", alt:"delete"), project,method: :delete, class: " right",
                                     data: { confirm: "You sure?" },
                                     title: project.name %>
  <% end %>
</li>


     <section>


<%= form_for @task, html: { class: " form-inline task-form" } do |f| %>
    <%= hidden_field_tag(:project_id, project.id) %>
    <%= f.text_field :name, class: "task-text-field", placeholder: "New task..." %>
   <%= f.submit "Add task", class: "btn task-btn " %>
<% end %>



      </section>

   <div class="">
    <% if project.tasks.any? %>
      <ul >
        <%= render project.tasks %>
      </ul>
   
    <% end %>
  </div>


 </div>

<% end %>