<% if project.name != nil %>
<li>
  <span class="name"><%= project.name %></span>
  <span class="name">

  </span>
  <% if current_user?(project.user) %>
    <%= link_to "delete", project, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: project.name %>
  <% end %>
</li>

   <div class="span6">
    <% if project.tasks.any? %>
      <h3>Tasks (<%= project.tasks.count %>)</h3>
      <ol class="tasks">
        <%= render project.tasks %>
      </ol>
   
    <% end %>
  </div>


   <%= link_to "Add task", '#', class: "btn btn-min btn-primary" %>
     <section>


<%= form_for(@task) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">

    <%= hidden_field_tag(:project_id, project.id) %>
    <%= f.text_area :name, placeholder: "Compose new task..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-mikro btn-primary" %>
<% end %>



      </section>
<% end %>